
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<h2>Index</h2>
<h2>Customr names Are</h2>

@foreach(var name in ViewBag.namelist)
            {
                <ul><li>@name</li></ul>
            }

